<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GenAi Platform</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.min.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>GenAi Platform</h1>
        <button id="go-to-chatbot" onclick="window.location.href='/chatbot'">Chatbot</button>
        <div class="button-container">
            <button id="go-to-knowledge-base" onclick="window.location.href='/knowledge-base'">Knowledge Base</button>
            <button onclick="window.location.href='/prompt-repository'">Prompt Repository</button>
            <button onclick="window.location.href='/datasets'">Datasets</button>
            <button onclick="window.location.href='/models'">Models</button>
            <button onclick="window.location.href='/fine-tuning'">Fine-tuning</button>
            <button onclick="window.location.href='/database'">Database</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/chatbot.js') }}"></script>
</body>
</html>
